.container h3{
    font-weight: bold;
}

.container p{
    margin-left: 2%;
    margin-right: 2%;
}


button {
    margin-bottom: 10%;
    background-color: gray;
    color: white;
    width: 10%;
    height: 50px;
    border-radius: 15px;
}

button.isEmailValid{
    background-color: #002244;
}