<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whisper Transcriber</title>
</head>
<body>
    <h1>Upload Audio for Transcription test</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Transcribe</button>
    </form>

    <div id="result">
        <!-- Transcription result will be displayed here -->
    </div>
</body>
</html>

